<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/login-page.css}">
  <title>Login Page</title>
</head>
<body>
  <!-- Navbar -->
  <div th:replace="fragments/navbar.html :: navbar"></div>

  <!-- Main Container -->
  <div class="main-container container">
    <h1>Login Page</h1>
    <p class="error" th:if="${error}" th:text="${error}"></p>
    <p class="message" th:if="${message}" th:text="${message}"></p>

    <form th:action="@{/login}" method="POST" id="login-form">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <button type="submit">Submit</button>
    </form>

    <a th:href="@{/register}" id="register-link">Click Here to Signup</a>
  </div>

  <!-- Footer -->
  <div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>